.post {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1rem;

  h2 {
    text-decoration: none;
    margin-bottom: 0;
  }

  p {
    font-size: 0.8rem;
    color: #666666;
    text-decoration: none;
    margin-bottom: 0;
  }
}
